.header{
    display: flex;
    margin-left: 10rem;
    margin-top: 0.5rem;
    justify-content: space-between;
}

.logo{
    overflow-clip-margin: content-box;
    margin-top: 17px;
    width: auto;
    height: 30px;
    margin-right: 5px;
   
}
.header .company_name{
    display: flex;
}

.header .company_name .name{
    font-family: var(--font);
    font-weight: 700;
    margin-top: 20px;
    font-size: 24px;
    /* vertical-align: middle; */
    color: #4A4A4A;
}
.header .userData{
    display: flex;
    color: black;
    padding-right: 50px;
}
.header .btn-layout input{
    width: 100px !important;
    padding-right: 2px;
    font-size: 14px;

}
.header .btn-layout input:nth-child(1){
    margin-right: 20px
}

.header .btn-layout{
    float: right;
    display: flex;
    padding: 17px;
    width: 100%;
    margin-left: 100%;
    
}
