table, th, td {
    border: 1px solid black;
  }

  .home-title{
    margin-top: 24px;
    font-family: var(--font);
    font-size: 25px;
    font-weight: 800;
    padding-left: 30px;
    text-align: center;
    color: var(--color-black);
  }

  .dashboard-container{
    padding-top: 30px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
  }
  .dashboard-container .cards{
    padding-top: 30px;
    border-radius: 8px;
    padding: 12px;
    width: 280px;
    height: 310px;
    background-color: var(--light-yellow);
    box-shadow: var( --card-shadow);
    transition: 0.5s ease-in-out;
  }

  .dashboard-container .btn_cards{
    text-align: center;
    font-size: 15px;
    font-family: var(--font);
    font-weight: 600;
    justify-content: center;
    padding-top: 18px;
    /* padding-left: 50px; */
    border-radius: 8px;
    /* padding: 12px; */
    width: 250px;
    height: 50px;
    background-color: var(--light-yellow);
    box-shadow: var( --card-shadow);
    transition: 0.5s ease-in-out;
    align-content: center;
  }

  .cards:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  .dashboard-container .cards .card-image{
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px black;
  }

  .dashboard-container .cards .card-image img{
    height: 10em;
    width: 10em;
    object-fit: cover;
  }
  .dashboard-container .cards .card-tite{
    font-family:var(--font);
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 18px;
    font-size: 18px;
  }

  .dashboard-container .cards .card-details{
    margin-left: 18px;
    padding-top: 5px;
    /* display: flex; */
    justify-content: space-between;
    font-family: var(--font);
  }

  .dashboard-container .btn_cards .card-btn{
    /* width: 55px;
    height: 50px; */
    margin-right: 50px;
    margin-left: 40px;
    border: none;
    /* padding-right: 30px; */
    border-radius: 10px;
    /* color: white; */
    cursor: pointer;
    outline: none;
  }

  .dashboard-container .btn_cards .card-btn img{
    width:50px;
    height: 50px;
    padding-right: 5px;
  }